@using Telerik.Blazor.Components

<h2>Drugs</h2>
<TelerikGrid Data="@drugList" Height="400px"
             Pageable="true" Sortable="true" Groupable="true"
             FilterMode="Telerik.Blazor.GridFilterMode.FilterRow"
             Resizable="true" Reorderable="true"
             OnRowClick="@RowClick">
    <GridColumns>
        <GridColumn Field="@(nameof(Drug.DrugId))" Title="Group Id" Width="120px" />
        <GridColumn Field="@(nameof(Drug.DrugSubclassId))" Title="Group Name" Groupable="false" />
        <GridColumn Field="@(nameof(Drug.DrugName))" Title="Name" />
        <GridColumn Field="@(nameof(Drug.DrugAbbr))" Title="Abbr" />
        <GridColumn Field="@(nameof(Drug.ForPublicUse))" Title="For Public Use" />
        <GridColumn Field="@(nameof(Drug.CreatedBy))" Title="Created By" />
        <GridColumn Field="@(nameof(Drug.CreatedDate))" Title="Created Date" />
        <GridColumn Field="@(nameof(Drug.CombinationDrug))" Title="Combination Drug" />
        <GridColumn Field="@(nameof(Drug.FixedRatio))" Title="Fixed Ratio" />
        <GridColumn Field="@(nameof(Drug.Proportion))" Title="Proportion" />
        <GridColumn Field="@(nameof(Drug.Active))" Title="Active" />
    </GridColumns>
</TelerikGrid>

@if (string.IsNullOrWhiteSpace(Props.Drug.DrugName))
{
    <p><em>Click on a row to select a drug</em></p>
}
else
{
    <p>Current standard: @Props.Drug.DrugName</p>
}
