@using Telerik.Blazor
@using Telerik.Blazor.Components

<h2>Projects</h2>

<TelerikGrid Data="breakpointProjects" Height="400px"
             Pageable="true" Sortable="true" Groupable="true"
             FilterMode="Telerik.Blazor.GridFilterMode.FilterRow"
             Resizable="true" Reorderable="true"
             SelectionMode="GridSelectionMode.Single"
             OnRowClick="@RowClick">
    <GridColumns>
        <GridCheckboxColumn />
        <GridColumn Field="@(nameof(Project.ProjectId))" Title="Project Id" Width="120px" />
        <GridColumn Field="@(nameof(Project.ProjectName))" Title="Project Name" Groupable="false" />
        <GridColumn Field="@(nameof(Project.ClientId))" Title="Client Id" />
        <GridColumn Field="@(nameof(Project.ClientContactId))" Title="Client Contact Id" />
        <GridColumn Field="@(nameof(Project.ClientProjectId))" Title="Client Project Id" />
        <GridColumn Field="@(nameof(Project.ClientProjectName))" Title="Client Project Name" />
        <GridColumn Field="@(nameof(Project.ClientProjectStatus))" Title="Client Project Status" />
        <GridColumn Field="@(nameof(Project.ProjectType))" Title="Project Type" />
        <GridColumn Field="@(nameof(Project.StudyType))" Title="Study Type" />
        <GridColumn Field="@(nameof(Project.ProjectStatus))" Title="Project Status" />
    </GridColumns>
</TelerikGrid>

@if (string.IsNullOrWhiteSpace(Props.Project.ProjectName))
{
    <p><em>Click on a row to select a project</em></p>
}
else
{
    <p>Current project: @Props.Project.ProjectName</p>
}
