@using Radzen
@using Radzen.Blazor

@if (string.IsNullOrWhiteSpace(Props.Standard.Bpstandard))
{
    <h3>Group by standard @Props.Standard.BpstandardId (standard not selected)</h3>
}
else
{
    <h3>Group by standard @Props.Standard.Bpstandard</h3>
    <RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.Advanced" AllowPaging="true" PageSize="4"
                AllowSorting="true" Data="@groupListData" TItem="Breakpointgroup" ColumnWidth="200px" AllowColumnResize="true"
                RowClick="@RowClick">
        <Columns>
            <RadzenGridColumn TItem="Breakpointgroup" Property="BpgroupId" Title="Group Id" />
            <RadzenGridColumn TItem="Breakpointgroup" Property="BpgroupName" Title="Group Name" />
            <RadzenGridColumn TItem="Breakpointgroup" Property="BpstandardId" Title="Standard Id" />
        </Columns>
    </RadzenGrid>
}

@if (string.IsNullOrWhiteSpace(Props.Group.BpgroupName))
{
    <p><em>Click on a row to select a group</em></p>
}
else
{
    <p>Current group: @Props.Group.BpgroupName</p>
}
