@using BlazorTable

@if (!string.IsNullOrWhiteSpace(Props.BreakpointProject.ProjectName) ||
     !string.IsNullOrWhiteSpace(Props.BreakpointGroup.GroupName))
{
    <h3>Breakpoint by project (project/group not selected)</h3>
    <Table TableItem="BreakpointSummary" DataLoader="_loader" Items="data" PageSize="5" SelectionType="selectionType" RowClickAction="RowClick" SelectedItems="selectedItems" ShowSearchBar="false">
        <Column TableItem="BreakpointSummary" Title="Id" Field="@(x => x.ProjectId)" Sortable="true" Width="10%" DefaultSortColumn="true" />
        <Column TableItem="BreakpointSummary" Title="Group Id" Field="@(x => x.GroupId)" Sortable="true" Width="10%" />
        <Column TableItem="BreakpointSummary" Title="Group Name" Field="@(x => x.GroupName)" Sortable="true" Width="5%" />
        <Column TableItem="BreakpointSummary" Title="Method" Field="@(x => x.Method)" Sortable="true" Width="20%" />
        <Column TableItem="BreakpointSummary" Title="Drug Name" Field="@(x => x.DrugName)" Sortable="true" Width="5%" />
        <Column TableItem="BreakpointSummary" Title="Suseptiple" Field="@(x => x.Susceptible)" Width="5%" />
        <Column TableItem="BreakpointSummary" Title="Low Intermediate" Field="@(x => x.LowIntermediate)" Width="5%" />
        <Column TableItem="BreakpointSummary" Title="Intermediate" Field="@(x => x.Intermediate)" Width="5%" />
        <Column TableItem="BreakpointSummary" Title="Resistant" Field="@(x => x.Resistant)" Width="5%" />
        <Column TableItem="BreakpointSummary" Title="Organism Name" Field="@(x => x.OrganismName)" Sortable="true" Width="5%" />
        <Column TableItem="BreakpointSummary" Title="Standard" Field="@(x => x.Standard)" Sortable="true" Width="5%" />
        <Pager ShowPageNumber="true" ShowTotalCount="true" />
    </Table>

    @if (string.IsNullOrWhiteSpace(Props.BreakpointOrganism?.OrganismName))
    {
        <p><em>Click on a row to select an organism</em></p>
    }
    else
    {
        <p>Current organism: @Props.BreakpointOrganism.OrganismName</p>
    }
}
else
{
    <h3>Breakpoint by project and group @Props.BreakpointProject.ProjectId/Props.BreakpointGroup.GroupId</h3>
}
