@using Telerik.Blazor.Components

@if (string.IsNullOrWhiteSpace(Props.Standard.Bpstandard))
{
    <h3>Group by standard @Props.Standard.BpstandardId (standard not selected)</h3>
}
else
{
    <h3>Group by standard @Props.Standard.Bpstandard</h3>
    <TelerikGrid Data="@groupListData" Height="400px"
                 Pageable="true" Sortable="true" Groupable="true"
                 FilterMode="Telerik.Blazor.GridFilterMode.FilterRow"
                 Resizable="true" Reorderable="true"
                 OnRowClick="@RowClick">
        <GridColumns>
            <GridColumn Field="@(nameof(Breakpointgroup.BpgroupId))" Title="Group Id" Width="120px" />
            <GridColumn Field="@(nameof(Breakpointgroup.BpgroupName))" Title="Group Name" Groupable="false" />
            <GridColumn Field="@(nameof(Breakpointgroup.BpstandardId))" Title="Standard Id" />
        </GridColumns>
    </TelerikGrid>
}

@if (string.IsNullOrWhiteSpace(Props.Group.BpgroupName))
{
    <p><em>Click on a row to select a group</em></p>
}
else
{
    <p>Current group: @Props.Group.BpgroupName</p>
}
