@using Telerik.Blazor.Components

<h2>Standards</h2>
<TelerikGrid Data="@standardListData" Height="400px"
             Pageable="true" Sortable="true" Groupable="true"
             FilterMode="Telerik.Blazor.GridFilterMode.FilterRow"
             Resizable="true" Reorderable="true"
             OnRowClick="@RowClick">
    <GridColumns>
        <GridColumn Field="@(nameof(BreakpointStandard.BpstandardId))" Title="Id" Width="120px" />
        <GridColumn Field="@(nameof(BreakpointStandard.Bpstandard))" Title="Standard" Groupable="false" />
    </GridColumns>
</TelerikGrid>
@if (string.IsNullOrWhiteSpace(Props.Standard.Bpstandard))
{
    <p><em>Click on a row to select a standard</em></p>
}
else
{
    <p>Current standard: @Props.Standard.Bpstandard</p>
}
