@using BlazorTable
<h2>Projects</h2>
<Table TableItem="Project" DataLoader="_loader" Items="data" PageSize="5" SelectionType="selectionType" RowClickAction="RowClick" SelectedItems="selectedItems" ShowSearchBar="false">
    <Column TableItem="Project" Title="Project Id" Field="@(x => x.ProjectId)" Sortable="true" Width="10%" DefaultSortColumn="true" />
    <Column TableItem="Project" Title="Project Name" Field="@(x => x.ProjectName)" Sortable="true" Width="10%" DefaultSortColumn="true" />
    <Column TableItem="Project" Title="Client Id" Field="@(x => x.ClientId)" Sortable="true" Width="10%" DefaultSortColumn="true" />
    <Column TableItem="Project" Title="Clent Contact Id" Field="@(x => x.ClientContactId)" Sortable="true" Width="10%" DefaultSortColumn="true" />
    <Column TableItem="Project" Title="Client Project Id" Field="@(x => x.ClientProjectId)" Sortable="true" Width="10%" DefaultSortColumn="true" />
    <Column TableItem="Project" Title="Clent Project Name" Field="@(x => x.ClientProjectName)" Sortable="true" Width="10%" DefaultSortColumn="true" />
    <Column TableItem="Project" Title="Clent Project Status" Field="@(x => x.ClientProjectStatus)" Sortable="true" Width="10%" DefaultSortColumn="true" />
    <Column TableItem="Project" Title="Project Status" Field="@(x => x.ProjectStatus)" Sortable="true" Width="10%" DefaultSortColumn="true" />
    <Column TableItem="Project" Title="Project Type" Field="@(x => x.ProjectType)" Sortable="true" Width="10%" DefaultSortColumn="true" />
    <Column TableItem="Project" Title="Study Type" Field="@(x => x.StudyType)" Sortable="true" Width="10%" DefaultSortColumn="true" />
    <Pager ShowPageNumber="true" ShowTotalCount="true" />
</Table>

@if (string.IsNullOrWhiteSpace(Props.Project.ProjectName))
{
    <p><em>Click on a row to select a project</em></p>
}
else
{
    <p>Current project: @Props.Project.ProjectName</p>
}
