
@using Telerik.Blazor.Components

<TelerikDropDownList Data="@standardList" TextField="Bpstandard" ValueField="BpstandardId"
                     @bind-Value="@currentBreakpointStandardId" DefaultText="Select standard"
                     OnChange="@OnStandardChange">
</TelerikDropDownList>
<!--
<TelerikDropDownList Data="@currentBreakpointStandard.Groups" TextField="BpGroupName" ValueField="BpGroupId"
                     @bind-Value="@currentBreakpointGroupId" DefaultText="Select something">
</TelerikDropDownList>
-->
<TelerikDropDownList Data="@projectList" TextField="ProjectName" ValueField="ProjectId"
                     @bind-Value="@currentProjectId" DefaultText="Select a project"
                     OnChange="@OnProjectChange">
</TelerikDropDownList>

@if (!string.IsNullOrWhiteSpace(currentBreakpointGroup?.BpgroupName))
{
    <h3>Selected Breakpoint Group: @currentBreakpointGroup.BpgroupName</h3>
}
@if (string.IsNullOrWhiteSpace(currentBreakpointGroup?.BpgroupName))
{
    <h3> Breakpoints (standard or group not selected)</h3>
}
else
{
    <h4>Breakpoints by MIC</h4>
    <TelerikGrid OnUpdate="@UpdateHandler"
                 OnDelete="@DeleteHandler"
                 OnCreate="@CreateHandler"
                 Data="@micData" Height="400px"
                 Pageable="true" Sortable="true" Groupable="true"
                 FilterMode="Telerik.Blazor.GridFilterMode.FilterRow"
                 Resizable="true" Reorderable="true">
        <GridColumns>
            <GridColumn Field="@(nameof(Breakpoint.BreakpointId))" Title="Breakpoint Id" />
            <GridColumn Field="@(nameof(Breakpoint.ResultType))" Title="Result Type" />
            <GridColumn Field="@(nameof(Breakpoint.Group.BpgroupName))" Title="Group Name" />
            <GridColumn Field="@(nameof(Breakpoint.Drug.DrugName))" Title="Drug Name" />
            <GridColumn Field="@(nameof(Breakpoint.Susceptible))" Title="Susceptible" />
            <GridColumn Field="@(nameof(Breakpoint.LowIntermediate))" Title="Low Intermediate" />
            <GridColumn Field="@(nameof(Breakpoint.Intermediate))" Title="Intermediate" />
            <GridColumn Field="@(nameof(Breakpoint.Resistant))" Title="Resistant" />
            <GridColumn Field="@(nameof(Breakpoint.DisplayedAs))" Title="Displayed As" />
            <GridColumn Field="@(nameof(Breakpoint.Dosage))" Title="Dosage" />
            <GridColumn Field="@(nameof(Breakpoint.Project.ProjectName))" Title="Project Name" />
            <GridColumn Field="@(nameof(Breakpoint.Bpyear))" Title="BP Year" />
            <GridCommandColumn Width="190px">
                <GridCommandButton Command="Save" Icon="save" ShowInEdit="true">Update</GridCommandButton>
                <GridCommandButton Command="Edit" Icon="edit">Edit</GridCommandButton>
                <GridCommandButton Command="Delete" Icon="delete">Delete</GridCommandButton>
                <GridCommandButton Command="Cancel" Icon="cancel" ShowInEdit="true">Cancel</GridCommandButton>
            </GridCommandColumn>
        </GridColumns>
    </TelerikGrid>

    <h4>Breakpoints by Disk</h4>
    <TelerikGrid OnUpdate="@UpdateHandler"
                 OnDelete="@DeleteHandler"
                 OnCreate="@CreateHandler"
                 Data="@diskData" Height="400px"
                 Pageable="true" Sortable="true" Groupable="true"
                 FilterMode="Telerik.Blazor.GridFilterMode.FilterRow"
                 Resizable="true" Reorderable="true">
        <GridColumns>
            <GridColumn Field="@(nameof(Breakpoint.BreakpointId))" Title="Breakpoint Id" />
            <GridColumn Field="@(nameof(Breakpoint.ResultType))" Title="Result Type" />
            <GridColumn Field="@(nameof(Breakpoint.Group.BpgroupName))" Title="Group Name" />
            <GridColumn Field="@(nameof(Breakpoint.Drug.DrugName))" Title="Drug Name" />
            <GridColumn Field="@(nameof(Breakpoint.Susceptible))" Title="Susceptible" />
            <GridColumn Field="@(nameof(Breakpoint.LowIntermediate))" Title="Low Intermediate" />
            <GridColumn Field="@(nameof(Breakpoint.Intermediate))" Title="Intermediate" />
            <GridColumn Field="@(nameof(Breakpoint.Resistant))" Title="Resistant" />
            <GridColumn Field="@(nameof(Breakpoint.DisplayedAs))" Title="Displayed As" />
            <GridColumn Field="@(nameof(Breakpoint.Dosage))" Title="Dosage" />
            <GridColumn Field="@(nameof(Breakpoint.Project.ProjectName))" Title="Project Name" />
            <GridColumn Field="@(nameof(Breakpoint.Bpyear))" Title="BP Year" />
            <GridCommandColumn Width="190px">
                <GridCommandButton Command="Save" Icon="save" ShowInEdit="true">Update</GridCommandButton>
                <GridCommandButton Command="Edit" Icon="edit">Edit</GridCommandButton>
                <GridCommandButton Command="Delete" Icon="delete">Delete</GridCommandButton>
                <GridCommandButton Command="Cancel" Icon="cancel" ShowInEdit="true">Cancel</GridCommandButton>
            </GridCommandColumn>
        </GridColumns>
    </TelerikGrid>
}
