@using Telerik.Blazor.Components

<h3>Breakpoint Grouping</h3>

@if (standardList == null || standardList.Count <= 0)
{
    <h3>Loading . . . .</h3>
}
else
{
    <TelerikGrid Data="@standardList" Height="400px"
                 Pageable="true" Sortable="true" Groupable="true"
                 FilterMode="Telerik.Blazor.GridFilterMode.FilterRow"
                 Resizable="true" Reorderable="true"
                 OnRowClick="@RowClick">
        <GridColumns>
            <GridColumn Field="@(nameof(BreakpointStandard.BpstandardId))" Title="Id" Width="120px" />
            <GridColumn Field="@(nameof(BreakpointStandard.Bpstandard))" Title="Standard" Groupable="false" />
        </GridColumns>
    </TelerikGrid>
 
    <TelerikButton class="GroupingButton" OnClick="@OnForwardClick">Forward</TelerikButton>
    <TelerikButton class="GroupingButton" OnClick="@OnReverseClick">Backward!</TelerikButton>

    @if (!string.IsNullOrWhiteSpace(currentBreakpointGroup?.BpgroupName))
    {
        <h3>Selected Breakpoint Group: @currentBreakpointGroup.BpgroupName</h3>
    }

    @ProjectPickerCmp

    @if (!string.IsNullOrWhiteSpace(currentBreakpointGroup?.BpgroupName) &&
        !string.IsNullOrWhiteSpace(Props?.Project?.ProjectName))
    {
        <!-- Show selected items -->

        <h3>@_selectedExcludedOrganisms.Count selected</h3>
        <h3>@_selectedOrganisms.Count selected</h3>
    }
}