@using Telerik.Blazor
@using Telerik.Blazor.Components

<h3>Breakpoint Grouping</h3>
@StandardPickerCmp

@if (string.IsNullOrWhiteSpace(Props?.Standard?.Bpstandard))
{
    <h3>Loading . . . .</h3>
}
else
{
    @GroupPickerCmp

    @ProjectPickerCmp

    <TelerikGrid Data="@excludedOrganisms" Height="400px"
                 Pageable="true" Sortable="true" Groupable="true"
                 FilterMode="Telerik.Blazor.GridFilterMode.FilterRow"
                 Resizable="true" Reorderable="true"
                 SelectionMode="GridSelectionMode.Multiple"
                 SelectedItems="@selectedExcludedOrganisms">
        <GridColumns>
            <GridColumn Field="@(nameof(OrganismName.OrganismId))" Title="Group Id" Width="120px" />
            <GridColumn Field="@(nameof(OrganismName.Name))" Title="Organism Name" Groupable="false" />
            <GridColumn Field="@(nameof(OrganismName.CreatedBy))" Title="Created By" />
        </GridColumns>
    </TelerikGrid>

    <div class="center">
        <TelerikButton class="GroupingButton" OnClick="@OnForwardClick" Icon="caret-double-alt-right"></TelerikButton>
        <TelerikButton class="GroupingButton" OnClick="@OnReverseClick" Icon="caret-double-alt-left"></TelerikButton>
    </div>

    <TelerikGrid Data="@includedOrganisms" Height="400px"
                 Pageable="true" Sortable="true" Groupable="true"
                 FilterMode="Telerik.Blazor.GridFilterMode.FilterRow"
                 Resizable="true" Reorderable="true"
                 SelectionMode="GridSelectionMode.Multiple"
                 SelectedItems="@selectedIncludedOrganisms"
                 SelectedItemsChanged="@((IEnumerable<OrganismName> includedList) => OnSelectIncluded(includedList))">
        <GridColumns>
            <GridColumn Field="@(nameof(OrganismName.OrganismId))" Title="Group Id" Width="120px" />
            <GridColumn Field="@(nameof(OrganismName.Name))" Title="Organism Name" Groupable="false" />
            <GridColumn Field="@(nameof(OrganismName.CreatedBy))" Title="Created By" />
        </GridColumns>
    </TelerikGrid>

    <TelerikButton class="GroupingButton" OnClick="@OnForwardClick" Icon="caret-double-alt-right"></TelerikButton>
    <TelerikButton class="GroupingButton" OnClick="@OnReverseClick" Icon="caret-double-alt-left"></TelerikButton>


    @if (!string.IsNullOrWhiteSpace(Props?.Group?.BpgroupName))
    {
        <!-- Show selected items -->

        <h3>@selectedIncludedOrganisms.Count() selected</h3>
        <h3>@selectedExcludedOrganisms.Count() selected</h3>
    }
}