@using Telerik.Blazor.Components
<h2>Organisms</h2>
<TelerikGrid Data="@organismList" Height="400px"
             Pageable="true" Sortable="true" Groupable="true"
             FilterMode="Telerik.Blazor.GridFilterMode.FilterRow"
             Resizable="true" Reorderable="true"
             OnRowClick="@RowClick">
    <GridColumns>
        <GridColumn Field="@(nameof(OrganismName.OrganismId))" Title="Organism Id" Width="120px" />
        <GridColumn Field="@(nameof(OrganismName.Name))" Title="Organism Name" Groupable="false" />
        <GridColumn Field="@(nameof(OrganismName.OrganismFamilyId))" Title="Family Id" />
        <GridColumn Field="@(nameof(OrganismName.OrganismSubfamilyId))" Title="Sub-Family Id" />
        <GridColumn Field="@(nameof(OrganismName.GenusId))" Title="Genus Id" />
        <GridColumn Field="@(nameof(OrganismName.PrintOnCodeList))" Title="Print on code list" />
        <GridColumn Field="@(nameof(OrganismName.RemapTo))" Title="Remap To" />
        <GridColumn Field="@(nameof(OrganismName.Aerobic))" Title="Aerobic" />
        <GridColumn Field="@(nameof(OrganismName.Anaerobic))" Title="Anaerobic" />
        <GridColumn Field="@(nameof(OrganismName.Fungal))" Title="Fungal" />
        <GridColumn Field="@(nameof(OrganismName.CreatedBy))" Title="Created By" />
        <GridColumn Field="@(nameof(OrganismName.CreatedDate))" Title="Created Date" />
    </GridColumns>
</TelerikGrid>
@if (string.IsNullOrWhiteSpace(Props.Organism.Name))
{
    <p><em>Click on a row to select a drug</em></p>
}
else
{
    <p>Current standard: @Props.Organism.Name</p>
}
