@using BlazorTable
<h2>Projects</h2>
<Table TableItem="BreakpointProjectSummary" DataLoader="_loader" Items="data" PageSize="5" SelectionType="selectionType" RowClickAction="RowClick" SelectedItems="selectedItems" ShowSearchBar="false">
    <Column TableItem="BreakpointProjectSummary" Title="Project Id" Field="@(x => x.ProjectId)" Sortable="true" Width="10%" DefaultSortColumn="true" />
    <Column TableItem="BreakpointProjectSummary" Title="Project Name" Field="@(x => x.ProjectName)" Sortable="true" Width="10%" DefaultSortColumn="true" />
    <Column TableItem="BreakpointProjectSummary" Title="Company Name" Field="@(x => x.CompanyName)" Sortable="true" Width="10%" DefaultSortColumn="true" />
    <Column TableItem="BreakpointProjectSummary" Title="Clent Type" Field="@(x => x.ClientType)" Sortable="true" Width="10%" DefaultSortColumn="true" />
    <Pager ShowPageNumber="true" ShowTotalCount="true" />
</Table>

@if (string.IsNullOrWhiteSpace(Props.Project.ProjectName))
{
    <p><em>Click on a row to select a project</em></p>
}
else
{
    <p>Current project: @Props.Project.ProjectName</p>
}
